{% extends 'layout.html' %}

{% block content %}
<h1>อยู่ระหว่างการสร้าง....</h1>
   <!-- <h1 align="center">Review Your Opinion</h1>
    
    <form action="addForm" method="post">{% csrf_token %}
        <div class="form-group">
            <label for="">ชื่อของคุณ</label>
            <input type="text" class="form-control" name="name">
        </div>
        <div class="form-group" >
            <label for="">ตำแหน่งของคุณ</label>
            <input type="text"  class="form-control" name="pos">
        </div>
        <div class="form-group">
            <label for="">คำบรรยาย</label>
            <input type="text" class="form-control" name="desc">
        </div>
        <br>

        <input type="submit" value="ส่ง" class="btn btn-success">
        <br><br>
    </form>
    
    <form action="reviews" method="post">{% csrf_token %}
        <div class="form-group">
            <label for="">reviews</label>
            <input type="text" class="form-control" name="reviews">
        </div>
        <br>
        <input type="submit" value="ส่งนะ" class="btn btn-danger">
    </form>
    
    <br>
    {% if status %}
        {% if status == 'success' %}
            <div class="alert alert-success">
                succes ค้าบบบ
            </div>
        {% else %}
            <div class="alert alert-danger">
                ไม่ผ่าน ค้าบบบ กรอกให้ครบ
            </div>
        {% endif %}
    {% endif %}
    -->
    
    
    
{% endblock %}